*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Generated working database state
**/db/latest*.struct
**/db/latest_*.version
**/db/*.changed

# Generated debug migration assets
**/*debug/assets/**
